---
Checks: >
  -*,
  bugprone-integer-division,
  bugprone-misplaced-widening-cast,
  bugprone-not-null-terminated-result,
  bugprone-sizeof-expression,
  bugprone-suspicious-string-compare,
  cert-err33-c,
  cert-err34-c,
  misc-include-cleaner,
  misc-unused-parameters,
  readability-function-cognitive-complexity,
  readability-function-size,
  readability-isolate-declaration
WarningsAsErrors: ''
HeaderFilterRegex: '^(src|tests)/'
FormatStyle: file
CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: '25'
  - key: readability-function-size.LineThreshold
    value: '200'
  - key: readability-function-size.StatementThreshold
    value: '200'
  - key: readability-function-size.NestingThreshold
    value: '6'
