---
Checks: >
  -*,
  bugprone-integer-division,
  bugprone-misplaced-widening-cast,
  bugprone-not-null-terminated-result,
  bugprone-sizeof-expression,
  bugprone-suspicious-string-compare,
  cert-err33-c,
  cert-err34-c,
  misc-include-cleaner,
  misc-unused-parameters,
  readability-isolate-declaration
